@import '../variables.css';
@import './timeline-component.css';

.career-timeline {
  & h3 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid var(--teal);
  }

  & h4 {
    font-size: 1.2em;
    color: var(--yellow);
    display: flex;
    justify-content: space-between;

    & em {
      color: var(--light-green);
      font-size: 0.8em;
      padding-top: 0.3em;
      text-shadow: var(--text-shadow-thinner);
    }
  }

  & h5 {
    font-size: 1.1em;
    margin-bottom: 0.8em;
  }

  & p {
    font-size: 1em;
  }
}
