@import '../variables.css';

.vertical-timeline {
  margin: 0;
}

@media (--large-desktop) {
  .vertical-timeline.vertical-timeline--two-columns {
    margin: 0;
  }
}

.vertical-timeline-element-content {
  background: var(--green);
  box-shadow: var(--box-shadow-default);

  &::before {
    border-right-color: var(--green);

    @nest .vertical-timeline--two-columns & {
      @media (--large-desktop) {
        border-left-color: var(--green);
      }
    }
  }

  & p {
    color: var(--light-teal);
  }

  & .vertical-timeline-element-date {
    color: var(--light-teal);
  }
}

.vertical-timeline--animate {
  & .vertical-timeline-element-icon.bounce-in {
    background-color: var(--green);
  }
}
