@import '../variables.css';

.contact-section {
  & h2 {
    text-align: center;
    margin-bottom: 1em;
  }
}

address {
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  & li {
    margin: 1em 2em 1em 0;
    border-radius: 6px;
    background-color: var(--green);
    box-shadow: var(--box-shadow-default);
    transition: background-color var(--transition-default);

    &:hover,
    &:focus {
      background-color: var(--brick-red);
    }
  }

  & svg.svg-icon {
    width: 3em;
    height: 3em;
    fill: var(--light-teal);
    transition: fill var(--transition-default);
    filter: drop-shadow(var(--text-shadow-thin));
  }

  & a {
    display: flex;
    width: 4em;
    height: 4em;
    justify-content: center;
    align-items: center;

    &:hover {
      border-bottom: none;

      & svg.svg-icon {
        fill: var(--white);
      }
    }
  }
}
