header {
  margin-bottom: 2em;
  border-top: solid 1px transparent;

  & section {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

    & h1 {
      font-size: 1.8em;

      @media (--desktop) {
        margin: 2em 0;
      }

      & a {
        border-bottom: none;
        color: #fff;

        & svg {
          width: 4em;
          -webkit-filter: drop-shadow(var(--text-shadow-thin));
          filter: drop-shadow(var(--text-shadow-thin));
        }

        & span {
          display: none;

          @media (--tablet) {
            display: inline-flex;
            margin-left: 1em;
          }

          & .css-prop-name {
            color: var(--light-green);
          }
        }

        &:hover {
          border-bottom: none;
          color: #fff;
        }
      }
    }
  }

  & nav {
    justify-content: center;
    border-top: 1px solid #001413;
    border-bottom: 1px solid #0e5856;

    & ul {
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid #001413;
      border-top: 1px solid #0e5856;

      & li {
        color: var(--grey);
        font-size: 1.7em;
        font-weight: bold;

        &::before {
          content: '# ';
          display: inline-flex;
          font-family: Arial, Helvetica, sans-serif;
          text-shadow: var(--text-shadow-thinner);
          padding: 0.3em 0;
        }

        & h2 {
          font-size: 1em;
          padding-left: 0.1em;

          & a {
            text-transform: lowercase;
            padding: 0.3em 0;
          }
        }
      }
    }
  }
}
