@import './variables.css';

html {
  color: #222;
  font-size: 16px;
  line-height: 1.2;
  background: var(--dark-green) url(/img/interface/body-bg.png) left top repeat;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Links */
a {
  color: #e4a100;
  text-decoration: none;
  border-bottom: dotted 1px transparent;
}

a:hover {
  color: #feb300;
  border-bottom: dotted 1px #b0d9d8;
}

a:focus {
  color: #b0d9d8;
}

body {
  color: #b0d9d8;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  margin: 0 auto;
  font-size: 0.8em;

  @media (--tablet) {
    font-size: 1em;
  }

  @media (--desktop) {
    max-width: 80vw;
  }

  @media (--large-desktop) {
    max-width: 70vw;
  }
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 0 0 16px 0;
  text-shadow: var(--text-shadow-thinner);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #e0e7e7;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: var(--text-shadow-default);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

em {
  font-style: normal;
  color: #feb300;
}

ul {
  margin: 0 0 1em 0;
}

li {
  margin-bottom: 0.5em;
}

main {
  padding: 0 2em;
}
